.app-navbar-menu {
  opacity: 1;
  scale: 1;
  transform: translate(0%, 0%);
  filter: blur(0px);
  user-select: none;
  transition: .15s cubic-bezier(0.4, 0, 0.2, 1);
}

.app-navbar-menu.close {
  opacity: 0;
  scale: 0.95;
  transform: translate(.5rem, -1rem);
  filter: blur(2px);
  pointer-events: none;
}
