.sidebar {
  position: absolute;
  top: 3.5rem;
  left: 0;
  height: calc(100dvh - 3.5rem) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s ease-in-out;
  background: hsla(287, 16%, 50%, 0.125);
  box-shadow: 0 0 1rem 1rem hsla(287, 16%, 50%, 0.05);
}

.sidebar-content {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.sidebar-button-ctn {
  position: absolute;
  right: 0;
  width: 1.8rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(100%);
}

.sidebar-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
  transition: .3s ease-out;
}

.sidebar-button:hover {
  filter: brightness(.75);
}

.sidebar-button::before,
.sidebar-button::after {
  content: '';
  width: .25em;
  height: .95em;
  background: #666;
  border-radius: 16rem;
  transition: .3s ease-out;
}

.sidebar-button:hover::before,
.sidebar-button:hover::after {
  background: #ccc;
}

.sidebar-button::before {
  transform: rotate(-24deg) translateY(.15rem);
}
.sidebar-button::after {
  transform: rotate(24deg) translateY(-.15rem);
}

.sidebar-button.opened::before {
  transform: translateY(.15rem);
}
.sidebar-button.opened::after {
  transform: translateY(-.15rem);
}

.sidebar-button.opened:hover::before {
  transform: rotate(24deg) translateY(.15rem);
}
.sidebar-button.opened:hover::after {
  transform: rotate(-24deg) translateY(-.15rem);
}