/* scrollbar */
::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}
::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
  background: #EDECE9;
}
::-webkit-scrollbar-thumb {
  background: #D3D1CB;
}
::-webkit-scrollbar-thumb:hover {
  background: #AEACA6;
}
.dark ::-webkit-scrollbar-corner,
.dark ::-webkit-scrollbar-track {
  /* background: #caccce0a; */
  background: #111113;
}
.dark ::-webkit-scrollbar-thumb {
  background: #474c50;
}
.dark ::-webkit-scrollbar-thumb:hover {
  background: #5d6469;
}

::-moz-selection {
  background: hsla(222, 100%, 78%, 0.35);
}

::selection {
  background: hsla(222, 100%, 78%, 0.35);
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

input:-internal-autofill-previewed,
input:-internal-autofill-selected {
  -webkit-text-fill-color: inherit !important;
  transition: background-color 5000s ease-in-out 0s !important;
}
