#aichat {
  --aichat-bg: rgb(3, 3, 3);
  --aichat-message-model-bg: inherit;
  --aichat-message-user-bg: rgba(127, 127, 127, 0.1);
  background: var(--aichat-bg);
}

.chat-sidebar {
  background: #0E0E0E;
  --sidebar-shadow: hsla(287, 16%, 50%, 0.05);
  position: absolute;
  top: 3.5rem;
  left: 0;
  height: calc(100dvh - 3.5rem);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s ease-out;
  box-shadow: var(--sidebar-shadow);
}

.chat-content {
  position: absolute;
  transition: .3s ease-out;
}

.chat-sidebar-button-ctn {
  top: 50%;
  transform: translate(100%, -50%);
  transition: .3s ease-out;
  z-index: 50;
}

.chat-sidebar-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
  transition: .3s ease-out;
}

.chat-sidebar-button:hover {
  filter: brightness(.75);
}

.chat-sidebar-button::before,
.chat-sidebar-button::after {
  content: '';
  width: .25em;
  height: .75em;
  background: #666;
  border-radius: 16rem;
  transition: .3s ease-out;
}

.chat-sidebar-button:hover::before,
.chat-sidebar-button:hover::after {
  background: #ccc;
}

.chat-sidebar-button::before {
  transform: rotate(-18deg) translateY(.15rem);
}
.chat-sidebar-button::after {
  transform: rotate(18deg) translateY(-.15rem);
}

.chat-sidebar-button.opened::before {
  transform: translateY(.15rem);
}
.chat-sidebar-button.opened::after {
  transform: translateY(-.15rem);
}

.chat-sidebar-button.opened:hover::before {
  transform: rotate(18deg) translateY(.15rem);
}
.chat-sidebar-button.opened:hover::after {
  transform: rotate(-18deg) translateY(-.15rem);
}

.conv-list-bg {
  /* --bg: hsl(315, 13%, 4%); */
  --bg: #070707;
  --shadow: hsla(315, 13%, 4%, 87%);
  background: var(--bg);
}
.conv-list-bg::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}
.conv-list-bg::-webkit-scrollbar-corner,
.conv-list-bg::-webkit-scrollbar-track {
  background: var(--bg);
}
.conv-list-bg::-webkit-scrollbar-thumb {
  border-radius: 8rem;
  border: 2px solid var(--bg);
  background: var(--bg);
}
.aichat-message *::-webkit-scrollbar-thumb,
.conv-list-bg:hover::-webkit-scrollbar-thumb {
  background: hsl(207, 0%, 20%);
}
.aichat-message *::-webkit-scrollbar-thumb:hover,
.conv-list-bg:hover::-webkit-scrollbar-thumb:hover {
  background: hsl(205, 0%, 26%);
}

.conv-list::before,
.conv-list::after {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--shd-h);
  background: linear-gradient(
    180deg,
    transparent,
    var(--shadow)
  );
  transition: .3s ease-out;
  pointer-events: none;
  z-index: 60;
}
.conv-list::before {
  opacity: var(--top-shd-opa);
  top: 0;
  transform: rotate(180deg);
}
.conv-list::after {
  opacity: var(--btm-shd-opa);
  bottom: 0;
}

.conv-menu-btn {
  --sz: calc(7 * 0.25rem - 4px);
  height: var(--sz);
  width: var(--sz);
  border-radius: 8rem;
  transition: .3s ease-out;
  opacity: 0;
}
.conv-menu-btn:hover {
  background: rgba(255, 255, 255, 0.1);
}
.conv-btn:hover .conv-menu-btn {
  opacity: 1;
}
@media (max-width: 600px) {
  .conv-menu-btn {
    opacity: 1 !important;
  }
}

.aichat-message-wrapper.model {
  background-color: var(--aichat-message-model-bg);
}

.aichat-message-wrapper.user {
  background-color: var(--aichat-message-user-bg);
}

.aichat-message-c {
  width: calc(100% - 7rem);
}
@media (max-width: 720px) {
  .aichat-message-r {
    display: none;
  }
  .aichat-message-c {
    width: calc(100% - 3.5rem);
  }
}

.aichat-message-md-codeblock {
  margin: 0 !important;
  padding: 2.5rem 1rem 1rem !important;
  background: #0D0D0D !important;
}

.aichat-message-md-codeblock code {
  font-size: 14px !important;
}

/* Markdown format fixes */
.aichat-message h1, .aichat-message h2, .aichat-message h3, .aichat-message h4 {
  font-weight: 600;
}
.aichat-message h1 {font-size: x-large; margin-top: .500rem; margin-bottom: .250rem;}
.aichat-message h2 {font-size:  larger; margin-top: .250rem; margin-bottom: .125rem;}
.aichat-message h3 {font-size:   large; margin-top: .250rem; margin-bottom: .125rem;}
.aichat-message p {
  white-space: break-spaces;
}
/* .aichat-message p {
  padding-top: .5rem;
}
.aichat-message p:nth-child(1) {
  padding-top: 0;
} */
.aichat-message ol, .aichat-message ul {
  padding-left: 1.75rem;
}
.aichat-message ol {
  list-style: decimal;
}
.aichat-message ol ol {
  list-style: lower-roman;
}
.aichat-message ul {
  list-style: disc;
}
.aichat-message li {
  padding-left: .25rem;
}

.aichat-thinking::after {
  display: inline;
  content: "Thinking";
  animation: thinking_text 1s infinite;
}

@keyframes thinking_text {
  0% {
    content: "Thinking.";
  }
  25% {
    content: "Thinking..";
  }
  50% {
    content: "Thinking...";
  }
  75% {
    content: "Thinking....";
  }
  100% {
    content: "Thinking.";
  }
}

.aichat-message-actions > * {
  padding: .35rem;
  opacity: .5;
  transition: .3s ease-out;
  cursor: pointer;
  border-radius: .5rem;
}
.aichat-message-actions > *:hover {
  opacity: 1;
  background: #ffffff19;
}

.aichat-input {
  opacity: 1 !important;
}
.aichat-input * {
  background: #000 !important;
}
.aichat-input textarea {
  font-size: 1rem;
}
.aichat-input-bg {
  content: '';
  background: linear-gradient(180deg, transparent, var(--aichat-bg));
}
